<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
        package="com.example.android.mykey">
    <application android:label="@string/ime_name">
        <service android:name="com.example.android.softkeyboard.SoftKeyboard"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

        <activity android:name="com.example.android.softkeyboard.ImePreferencesActivity" android:label="@string/settings_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.example.android.softkeyboard.StringKeyModifyActivity">    
        </activity>
        
    </application>
    
    <uses-permission android:name="android.permission.VIBRATE" />
    
</manifest>
